In [52]:
import pandas as pd
df=pd.read_csv("E:\chromedownload\AB_NYC_2019.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [179]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\sharm\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (2.1.4)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (3.8.0)
Requirement already satisfied: pydantic>=2 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (2.9.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (3.1.3)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in c:\users\sharm\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<5,>=3 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\sharm\anaconda3\lib\site-packages (from ydata-profiling) (0.59.0)
Requirement already satisfied: PyWavelets in c:\users\sharm\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\sharm\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sharm\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sharm\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\sharm\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sharm\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sharm\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sharm\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\sharm\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.3 in c:\users\sharm\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.23.3)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\sharm\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sharm\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sharm\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sharm\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sharm\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.6.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sharm\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\sharm\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\sharm\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in c:\users\sharm\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [192]:
from ydata_profiling import ProfileReport
profile = ProfileReport(df, title="AB_NYC Profiling Report", explorative=True)
profile.to_file("AB_NYC_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [191]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

### Handling missing values

In [201]:
df["last_review"] = pd.to_datetime(df["last_review"], dayfirst=True, errors='coerce')

In [207]:
df['last_review'] = df['last_review'].ffill()
df.ffill(inplace=True)

In [209]:
df.dropna(subset=["host_name"],inplace=True)

In [211]:
df['reviews_per_month'].fillna(0,inplace=True)

In [213]:
df.dropna(subset=["name"],inplace=True)

In [215]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [217]:
df.duplicated().sum()

0

In [219]:
df.dtypes

id                                       float64
name                                      object
host_id                                  float64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                           float64
number_of_reviews                        float64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count           float64
availability_365                         float64
dtype: object

In [242]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,-1.731876,Clean & quiet apt home by the park,-0.860166,John,brooklyn,Kensington,-1.493773,-0.437612,private room,-0.015570,-0.300329,-0.320388,2018-10-19,-0.551649,-0.034837,1.916263
1,-1.731871,Skylit Midtown Castle,-0.860165,Jennifer,manhattan,Midtown,0.452597,-0.684585,entire home/apt,0.300794,-0.300329,0.487703,2019-05-21,-0.445217,-0.156180,1.840280
2,-1.731775,THE VILLAGE OF HARLEM....NEW YORK !,-0.860142,Elisabeth,manhattan,Harlem,1.468605,0.222498,private room,-0.011407,-0.200426,-0.522411,2019-05-21,-0.683125,-0.186516,1.916263
3,-1.731758,Cozy Entire Floor of Brownstone,-0.860139,LisaRoxanne,brooklyn,Clinton Hill,-0.803291,-0.164426,entire home/apt,-0.265330,-0.300329,5.538271,2019-07-05,2.221862,-0.186516,0.616965
4,-1.731650,Entire Apt: Spacious Studio/Loft by central park,-0.860110,Laura,manhattan,East Harlem,1.275857,0.177220,entire home/apt,-0.302795,0.149232,-0.320388,2018-11-19,-0.620518,-0.186516,-0.857091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,1.589881,Charming one bedroom - newly renovated rowhouse,-0.755494,Sabrina,brooklyn,Bedford-Stuyvesant,-0.924515,0.048101,private room,-0.344421,-0.250377,-0.522411,2019-07-08,-0.683125,-0.156180,-0.788707
48891,1.589917,Affordable room in Bushwick/East Williamsburg,-0.776630,Marisol,brooklyn,Bushwick,-0.497022,0.411628,private room,-0.469302,-0.150475,-0.522411,2019-07-08,-0.683125,-0.156180,-0.583555
48892,1.589951,Sunny Studio at Historical Neighborhood,-0.561397,Ilgar & Aysel,manhattan,Harlem,1.573690,0.075831,entire home/apt,-0.157101,0.149232,-0.522411,2019-07-08,-0.683125,-0.186516,-0.651939
48893,1.589967,43rd St. Time Square-cozy single bed,-0.466096,Taz,manhattan,Hell's Kitchen,0.523938,-0.843818,shared room,-0.406862,-0.300329,-0.522411,2019-07-08,-0.683125,-0.034837,-0.841895
48894,1.590116,Trendy duplex in the very heart of Hell's Kitchen,0.006208,Christophe,manhattan,Hell's Kitchen,0.643695,-0.805039,private room,-0.261168,-0.000622,-0.522411,2019-07-08,-0.683125,-0.186516,-0.682332

In [221]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.885800e+04,4.885800e+04,4.885800e+04,4.885800e+04,4.885800e+04,4.885800e+04,4.885800e+04,48858,4.885800e+04,4.885800e+04,4.885800e+04
mean,-1.489205e-16,-3.723012e-17,1.021443e-13,1.610692e-13,-2.326883e-18,-3.286722e-17,1.861506e-17,2018-10-14 12:32:49.986491648,9.307531e-18,9.307531e-18,-2.792259e-17
min,-1.731876e+00,-8.601704e-01,-4.202515e+00,-6.331382e+00,-6.358088e-01,-3.003286e-01,-5.224105e-01,2011-03-28 00:00:00,-6.831252e-01,-1.865162e-01,-8.570911e-01
25%,-8.693035e-01,-7.607565e-01,-7.125107e-01,-6.694202e-01,-3.485840e-01,-3.003286e-01,-4.999636e-01,2018-07-31 00:00:00,-6.580822e-01,-1.865162e-01,-8.570911e-01
50%,6.080368e-02,-4.685692e-01,-1.076743e-01,-7.603542e-02,-1.945649e-01,-2.004263e-01,-4.101757e-01,2019-05-25 00:00:00,-4.514775e-01,-1.865162e-01,-5.151708e-01
75%,9.227443e-01,5.062474e-01,6.265930e-01,3.442517e-01,9.265994e-02,-1.005239e-01,1.631676e-02,2019-06-24 00:00:00,3.060730e-01,-1.561803e-01,8.677069e-01
max,1.590116e+00,2.628867e+00,3.376645e+00,5.181670e+00,4.099098e+01,6.208868e+01,1.359673e+01,2019-07-08 00:00:00,3.594225e+01,9.702981e+00,1.916263e+00
std,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,NaN,1.000010e+00,1.000010e+00,1.000010e+00

In [223]:
numeric_df = df.select_dtypes(include=['float64', 'int64'])
corr_matrix = numeric_df.corr()

print(corr_matrix)

                                      id   host_id  latitude  longitude  \
id                              1.000000  0.588221 -0.003116   0.091076
host_id                         0.588221  1.000000  0.020193   0.127198
latitude                       -0.003116  0.020193  1.000000   0.084819
longitude                       0.091076  0.127198  0.084819   1.000000
price                           0.010564  0.015328  0.033944  -0.149954
minimum_nights                 -0.012038 -0.017027  0.025893  -0.062893
number_of_reviews              -0.320020 -0.140273 -0.015198   0.059151
reviews_per_month               0.180095  0.209644 -0.018702   0.138759
calculated_host_listings_count  0.133224  0.154954  0.019548  -0.114746
availability_365                0.085616  0.203743 -0.010775   0.082754

                                   price  minimum_nights  number_of_reviews  \
id                              0.010564       -0.012038          -0.320020
host_id                         0.015328       -0.017027          -0.140273
latitude                        0.033944        0.025893          -0.015198
longitude                      -0.149954       -0.062893           0.059151
price                           1.000000        0.042804          -0.047949
minimum_nights                  0.042804        1.000000          -0.081610
number_of_reviews              -0.047949       -0.081610           1.000000
reviews_per_month              -0.050586       -0.127378           0.589221
calculated_host_listings_count  0.057460        0.131313          -0.072408
availability_365                0.081817        0.145953           0.171855

                                reviews_per_month  \
id                                       0.180095
host_id                                  0.209644
latitude                                -0.018702
longitude                                0.138759
price                                   -0.050586
minimum_nights                          -0.127378
number_of_reviews                        0.589221
reviews_per_month                        1.000000
calculated_host_listings_count          -0.047366
availability_365                         0.163751

                                calculated_host_listings_count  \
id                                                    0.133224
host_id                                               0.154954
latitude                                              0.019548
longitude                                            -0.114746
price                                                 0.057460
minimum_nights                                        0.131313
number_of_reviews                                    -0.072408
reviews_per_month                                    -0.047366
calculated_host_listings_count                        1.000000
availability_365                                      0.225784

                                availability_365
id                                      0.085616
host_id                                 0.203743
latitude                               -0.010775
longitude                               0.082754
price                                   0.081817
minimum_nights                          0.145953
number_of_reviews                       0.171855
reviews_per_month                       0.163751
calculated_host_listings_count          0.225784
availability_365                        1.000000

### Finding unique values count

In [226]:
df.nunique()

id                                48858
name                              47884
host_id                           37425
host_name                         11450
neighbourhood_group                   5
neighbourhood                       221
latitude                          19039
longitude                         14716
room_type                             3
price                               674
minimum_nights                      108
number_of_reviews                   394
last_review                        1764
reviews_per_month                   938
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [228]:
neigh_grp_count = df.groupby("neighbourhood_group").count().head()
neigh_grp_count

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
bronx,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089
brooklyn,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089,20089
manhattan,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643,21643
queens,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664,5664
staten island,373,373,373,373,373,373,373,373,373,373,373,373,373,373,373

### Finding and removing outliers

In [231]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_cleaned = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

### Standardscaler only numeric columns 

##### StandardScaler(): This calculates the mean and standard deviation of each feature and scales the data accordingly.

In [234]:
from sklearn.preprocessing import StandardScaler

numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
print(df)

             id                                               name   host_id  \
0     -1.731876                 Clean & quiet apt home by the park -0.860166
1     -1.731871                              Skylit Midtown Castle -0.860165
2     -1.731775                THE VILLAGE OF HARLEM....NEW YORK ! -0.860142
3     -1.731758                    Cozy Entire Floor of Brownstone -0.860139
4     -1.731650   Entire Apt: Spacious Studio/Loft by central park -0.860110
...         ...                                                ...       ...
48890  1.589881    Charming one bedroom - newly renovated rowhouse -0.755494
48891  1.589917      Affordable room in Bushwick/East Williamsburg -0.776630
48892  1.589951            Sunny Studio at Historical Neighborhood -0.561397
48893  1.589967               43rd St. Time Square-cozy single bed -0.466096
48894  1.590116  Trendy duplex in the very heart of Hell's Kitchen  0.006208

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            brooklyn          Kensington -1.493773
1           Jennifer           manhattan             Midtown  0.452597
2          Elisabeth           manhattan              Harlem  1.468605
3        LisaRoxanne            brooklyn        Clinton Hill -0.803291
4              Laura           manhattan         East Harlem  1.275857
...              ...                 ...                 ...       ...
48890        Sabrina            brooklyn  Bedford-Stuyvesant -0.924515
48891        Marisol            brooklyn            Bushwick -0.497022
48892  Ilgar & Aysel           manhattan              Harlem  1.573690
48893            Taz           manhattan      Hell's Kitchen  0.523938
48894     Christophe           manhattan      Hell's Kitchen  0.643695

       longitude        room_type     price  minimum_nights  \
0      -0.437612     private room -0.015570       -0.300329
1      -0.684585  entire home/apt  0.300794       -0.300329
2       0.222498     private room -0.011407       -0.200426
3      -0.164426  entire home/apt -0.265330       -0.300329
4       0.177220  entire home/apt -0.302795        0.149232
...          ...              ...       ...             ...
48890   0.048101     private room -0.344421       -0.250377
48891   0.411628     private room -0.469302       -0.150475
48892   0.075831  entire home/apt -0.157101        0.149232
48893  -0.843818      shared room -0.406862       -0.300329
48894  -0.805039     private room -0.261168       -0.000622

       number_of_reviews last_review  reviews_per_month  \
0              -0.320388  2018-10-19          -0.551649
1               0.487703  2019-05-21          -0.445217
2              -0.522411  2019-05-21          -0.683125
3               5.538271  2019-07-05           2.221862
4              -0.320388  2018-11-19          -0.620518
...                  ...         ...                ...
48890          -0.522411  2019-07-08          -0.683125
48891          -0.522411  2019-07-08          -0.683125
48892          -0.522411  2019-07-08          -0.683125
48893          -0.522411  2019-07-08          -0.683125
48894          -0.522411  2019-07-08          -0.683125

       calculated_host_listings_count  availability_365
0                           -0.034837          1.916263
1                           -0.156180          1.840280
2                           -0.186516          1.916263
3                           -0.186516          0.616965
4                           -0.186516         -0.857091
...                               ...               ...
48890                       -0.156180         -0.788707
48891                       -0.156180         -0.583555
48892                       -0.186516         -0.651939
48893                       -0.034837         -0.841895
48894                       -0.186516         -0.682332

[48858 rows x 16 columns]

In [236]:
duplicates = df['name'].duplicated()
duplicates

0        False
1        False
2        False
3        False
4        False
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Name: name, Length: 48858, dtype: bool

In [238]:
numeric_df = df.select_dtypes(include=['float64', 'int64'])
corr_matrix = numeric_df.corr()

print(corr_matrix)

                                      id   host_id  latitude  longitude  \
id                              1.000000  0.588221 -0.003116   0.091076
host_id                         0.588221  1.000000  0.020193   0.127198
latitude                       -0.003116  0.020193  1.000000   0.084819
longitude                       0.091076  0.127198  0.084819   1.000000
price                           0.010564  0.015328  0.033944  -0.149954
minimum_nights                 -0.012038 -0.017027  0.025893  -0.062893
number_of_reviews              -0.320020 -0.140273 -0.015198   0.059151
reviews_per_month               0.180095  0.209644 -0.018702   0.138759
calculated_host_listings_count  0.133224  0.154954  0.019548  -0.114746
availability_365                0.085616  0.203743 -0.010775   0.082754

                                   price  minimum_nights  number_of_reviews  \
id                              0.010564       -0.012038          -0.320020
host_id                         0.015328       -0.017027          -0.140273
latitude                        0.033944        0.025893          -0.015198
longitude                      -0.149954       -0.062893           0.059151
price                           1.000000        0.042804          -0.047949
minimum_nights                  0.042804        1.000000          -0.081610
number_of_reviews              -0.047949       -0.081610           1.000000
reviews_per_month              -0.050586       -0.127378           0.589221
calculated_host_listings_count  0.057460        0.131313          -0.072408
availability_365                0.081817        0.145953           0.171855

                                reviews_per_month  \
id                                       0.180095
host_id                                  0.209644
latitude                                -0.018702
longitude                                0.138759
price                                   -0.050586
minimum_nights                          -0.127378
number_of_reviews                        0.589221
reviews_per_month                        1.000000
calculated_host_listings_count          -0.047366
availability_365                         0.163751

                                calculated_host_listings_count  \
id                                                    0.133224
host_id                                               0.154954
latitude                                              0.019548
longitude                                            -0.114746
price                                                 0.057460
minimum_nights                                        0.131313
number_of_reviews                                    -0.072408
reviews_per_month                                    -0.047366
calculated_host_listings_count                        1.000000
availability_365                                      0.225784

                                availability_365
id                                      0.085616
host_id                                 0.203743
latitude                               -0.010775
longitude                               0.082754
price                                   0.081817
minimum_nights                          0.145953
number_of_reviews                       0.171855
reviews_per_month                       0.163751
calculated_host_listings_count          0.225784
availability_365                        1.000000

In [240]:
df.to_csv("cleaned_data.csv")